*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

html,
body {
  overflow-x: hidden;
  background-color: var(--color-background-light);
}

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.centered {
  text-align: center;
}

body {
  font-family: 'inter', 'Roboto', sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  position: relative;
  background: rgb(255,245,223);
  background: linear-gradient(190deg, rgba(255,245,223,1) 0%, rgba(245,245,245,1) 62%);
}

.guy {
  z-index: 1; 
  background-size: cover;
  margin-bottom: 6rem;
}

/* Color Palette */
:root {
  --color-primary: #ffc54d;
  --color-secondary: #355152;
  --color-accent: #a0bbac;
  --color-body: rgb(255, 255, 255);
  --color-background-light: whitesmoke;
  --border-radius: 30px;
}

a {
  text-decoration: none;
}

.primary-text {
  color: var(--color-primary);
}

.welcome-text{
  margin-top: 6rem;
}

.koulen {
  font-family: 'Koulen', cursive;
}

.btn {
  padding: .25rem 2rem;
  border-radius: var(--border-radius);
  border: 2px solid --color-primary;
  background-color: var(--color-primary);
  color: white;
}

p, h2 {
  color: var(--color-body)
}

/* Nav */

nav, nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
}

nav {
  margin-inline: 8rem;
  justify-content: space-between;
  font-size: 1.75rem;
}

li {
  margin-left: 3rem;
}

